<header id="fh5co-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.html">{{site.navigation.title}}</a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    {% assign sortedPages = site.pages | sort: "priority" %}
                    {% for node in sortedPages  %}
                        {% if node.group == 'navigation'  %}
                            {% if page.url == node.url %}
                                <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                            {% else %}
                                <li><a href="{{node.url}}">{{node.title}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <!--
                    <li>
                        <a href="groom-bride.html" class="fh5co-sub-ddown">Groom &amp; Bride</a>
                        <ul class="fh5co-sub-menu">
                            <li><a href="https://freehtml5.co/wedding-free-html5-bootstrap-template-for-wedding-websites/">Wedding
                                    Template</a></li>
                            <li><a href="https://freehtml5.co/marble-free-html5-bootstrap-template-for-portfolio-or-multi-purpose-websites/">Marble
                                    Template</a></li>
                            <li><a href="https://freehtml5.co/tasty-free-bootstrap-html5-template-for-restaurant-websites/">Tasty
                                    Template</a></li>
                            <li><a href="https://freehtml5.co/education-free-html5-bootstrap-template-elearning-school-websites/">Education
                                    Template</a></li>
                            <li><a href="https://freehtml5.co/words-free-html5-bootstrap-template-multi-purpose/">Words
                                    Template</a></li>
                        </ul>
                    </li>
                    -->
                </ul>
            </nav>
        </div>
    </div>
</header>