  <!-- Google Map -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>-->
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src={{ "/assets/js/jquery.easing.1.3.js" | relative_url }}></script>
  <script src={{ "/assets/js/bootstrap.min.js" | relative_url }}></script>
  <script src={{ "/assets/js/jquery.waypoints.min.js" | relative_url }}></script>
  <script src={{ "/assets/js/sticky.js" | relative_url }}></script>
  <script src={{ "/assets/js/jquery.stellar.min.js" | relative_url }}></script>
  <script src={{ "/assets/js/hoverIntent.js" | relative_url }}></script>
  <script src={{ "/assets/js/superfish.js" | relative_url }}></script>
  <script src={{ "/assets/js/jquery.magnific-popup.min.js" | relative_url }}></script>
  <script src={{ "/assets/js/magnific-popup-options.js" | relative_url }}></script>
  <script src={{ "/assets/js/main.js" | relative_url }}></script>